<li id="<%= taxon.id %>" <%= "rel='root' data-taxonomy='#{taxon.taxonomy_id}'".html_safe if taxon.root? %>>
  <%= link_to taxon.name, admin_edit_multiple_products_path(taxon) %>
  <span>(<%= taxon.not_deleted_products_count %>)</span>
  <% if taxon.children.any? %>
      <ul><%= render :partial => 'taxon', :collection => taxon.children, :locals => {:current_taxon => current_taxon} %></ul>
  <% end %>
</li>

