<%= render :partial => 'head' %>
<%= render :partial => 'admin/shared/product_sub_menu' %>

<h1><%= t("sim.edit_multiple_products") %></h1>

<fieldset style='float:left;width: 300px; height: 400px;'>
  <legend><%= t("sim.catalog") %></legend>
  <div id='tax-tree' style=" overflow: auto">
    <ul><%= render :partial => "taxon", :collection => Taxon.roots, :locals => {:current_taxon => @taxon} %></ul>
  </div>
</fieldset>
<% form_tag admin_edit_multiple_products_path(:id => @taxon.id), :method => :put do %>
    <fieldset style='float:right;width: 300px'>
      <legend><%= t("sim.with_selected") %></legend>
      <p><label><%= radio_button_tag 'products_action', 'publish_from' %><%= t("sim.publish_from") %></label>
        <%= spree_date_picker 'products_options', :available_on, {}, :style => 'width:100px' %></p>

      <p><label><%= radio_button_tag 'products_action', 'hide' %><%= t("sim.hide_from_now") %></label></p>

      <p><label><%= radio_button_tag 'products_action', 'add_taxon' %><%= t("sim.add_taxon") %></label>
        <%= select 'products_options', :taxon, options_from_collection_for_select(Taxon.all, :id, :name) %></p>

      <p><label><%= radio_button_tag 'products_action', 'delete' %><%= t("sim.delete") %></label></p>
      <%= button t("sim.go") %>
    </fieldset>
    <div style='margin: 0 350px 0 350px'>
      <table class="index" id='listing_products'>
        <tr>
          <th></th>
          <th><%= t("sku") %></th>
          <th><%= sort_link @search, :name, t("name") %></th>
          <th><%= sort_link @search, :master_price, t("master_price") %></th>
          <th><%= t("sim.has_photo") %></th>
          <th></th>
        </tr>
        <% @collection.each do |product| %>
            <tr id="<%= dom_id product %>">
              <td><%= check_box_tag 'product_ids[]', product.id %></td>
              <td><%= product.sku %></td>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= product.images.any? ? '●' : '○' %></td>
              <td class="actions">
                <% link_to( admin_switch_product_availability_path(product), :method => :put, :remote => true) do %>
                    <span class='av_icon'><%= product.active? ? '●' : '○' %></span>
                <% end %>
                |
                <%= link_to(image_tag('admin/icons/edit.png'), edit_admin_product_path(product)) unless product.deleted? %>
                |
                <%= link_to(image_tag('admin/icons/exclamation.png'), clone_admin_product_path(product)) unless product.deleted? %>
                |
                <%= link_to(image_tag('admin/icons/delete.png'), admin_product_path(product), :method => :delete) unless product.deleted? %>
                |
                <%= link_to(image_tag('admin/icons/search.gif'), product) unless product.deleted? %>
              </td>
            </tr>
        <% end %>
      </table>
<% end %>
<%= will_paginate(@collection, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>
<% form_tag '', :method => :get, :id => 'per_page_form' do %>
    <%= label_tag 'per_page', t('sim.per_page') %>
    <%= select_tag 'per_page', options_for_select([["10"], ["50"], ["100"], ['All', "10000"]], session[:im_per_page].to_s) %>
<% end %>
</div>


